.footer {
  background-color: #757575; /* Color de fondo */
  color: #FFFFFF; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto al centro */
  position: fixed; /* Fijar en la parte inferior de la pantalla */
  bottom: 0;
  width: 100%; /* Ancho completo */
}

.footer a {
  color: #3498db; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón por encima */
}